{% extends "layout.html" %}

{% set pageId = "page-home" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{% block content %}
    <div class="content">
        <!-- class pode ser usada em varios elementos-->
        <header>
            <!-- comentando no HTML-->
            <img src="/img/logo.svg" alt="logomarca">
            <a href="/create-point">
                <span></span>
                Cadastre um ponto de coleta</a>
            <!-- gera um link -->
        </header>
        <main>
            <h1>Seu marketplace de coletas de residos</h1>
            <p>Ajude pessoas a encontrar pontos de coleta de forma eficiente</p>
            <a href="#">
                <span></span>
                <strong>Pesquisar pontos de coleta</strong>
            </a>
        </main>

    </div>
{% endblock content %}

{% block modal %}
    {% include "partials/modal.html" %}
{% endblock modal %}

{% block scripts %}
    <script src="/scripts/index.js"></script>
{% endblock scripts %}